//include mixins
include mixin/common
include mixin/stylesheet
include mixin/config

doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    meta(content='telephone=no', name='format-detection')
    title= pageTitle
    //include stylesheet
    mixin edm_styles
    // Targeting Windows Mobile
    //if IEMobile 7
    style(type='text/css').
    //
      *********************************************** **************************************************** END MOBILE TARGETING
      **************************************************** ************************************************
    //if gte mso 9
      style.
        /* Target Outlook 2007 and 2010 */
  body(yahoo='fix', bgcolor='#eaebeb')
    table#backgroundTable(cellpadding='0', cellspacing='0', border='0', width='100%')
      tr
        td.container(valign='top')
          table.xs-no-minwidth(cellpadding='0', cellspacing='0', border='0', align='center', style='min-width:600px;')
            tr
              td
                table(cellpadding='0',cellspacing='0',border='0', width='600')
    div(style="display:none; white-space:nowrap; font:15px courier; color:#ffffff; line-height:0; width:600px !important; min-width:600px !important; max-width:600px !important;")
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


