<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular 1 Template</title>
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
    <body>
        <div data-ng-controller="ExampleController">
            <h1>{{title}}</h1>

        </div>
        <!-- build:js assets/js/dependencies.min.js -->
        <script language="javascript" src="assets/bower_components/angular/angular.min.js"></script>
        <!-- endbuild -->
        <!-- build:js assets/js/app.min.js -->
        <script language="javascript" src="assets/js/app.js"></script>
        <!-- endbuild -->
    </body>
</html>