<!-- HTML 5 Ad Template from DoubleClick by Google // modified to remove DCS specific code for use as a standard banner -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <title><%=config.projectFolder%></title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles.css">
        <script>
            var clickTag = 'http://google.com/';
        </script>
        <% if(config.bannerType.indexOf("sizmek") > -1) { %>
        <script type="text/javascript" src="https://secure-ds.serving-sys.com/BurstingScript/EBLoader.js"></script>
        <% } %>
    </head>
    <body>
        <div id="banner"></div>
        <script id="template" type="text/template">
            <a href="javascript:void(0)" class="exit">&nbsp;</a>
            <div class="scene1">
                <!-- place your elements here -->
            </div>
        </script>
        <% if (config.bannerType == "standard") { %>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TimelineMax.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
        <% } else if(config.bannerType.indexOf("sizmek") > -1) { %>
        <script type="text/javascript" language="javascript" src="https://secure-ds.serving-sys.com/BurstingcachedScripts/libraries/jquery/1_11_3/jquery.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://secure-ds.serving-sys.com/BurstingcachedScripts/libraries/greensock/1_18_0/TweenMax.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://secure-ds.serving-sys.com/BurstingcachedScripts/libraries/greensock/1_18_0/TimelineMax.min.js"></script>
        <% } %>
        <script type="text/javascript" language="javascript" src="script.js"></script>
    </body>
</html>
