//
   Created by donaldmartinez on 8/03/2016.

mixin td-mso(lheight)
    td(style={'mso-line-height-rule':'exactly', 'line-height':lheight || '18px'})&attributes(attributes)
        if block
            block
mixin link(href, name)
    a(href=href)&attributes(attributes)= name