//
   Created by donaldmartinez on 8/03/2016.

mixin edm_styles
    style(type='text/css').
        @-ms-viewport {
            width: device-width;
        }

        #outlook a {
            padding: 0;
        }

        body {
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0;
            padding: 0;
        }

        .ExternalClass {
            width: 100%;
        }

        * {
            line-height: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        #backgroundTable {
            margin: 0;
            padding: 0;
            width: 100% !important;
            line-height: 100% !important;
            background-color: #eaebeb;
        }

        img {
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        a img {
            border: none;
        }

        .image_fix {
            display: block;
        }

        p {
            margin: 1em 0;
        }

        table td {
            border-collapse: collapse;
        }

        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        .hide {
            display: none;
        }

        @media all and (max-width: 480px) {
            body[yahoo] a[href^="tel"],
            body[yahoo] a[href^="sms"] {
                text-decoration: none;
                color: blue;
                cursor: default;
            }

            body[yahoo] .mobile_link a[href^="tel"],
            body[yahoo] .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: orange !important;
                pointer-events: auto !important;
                cursor: default;
            }

            body[yahoo] .container {

            }

            body[yahoo] table {
                width: 100%;
            }

            body[yahoo] table td.full-width {
                display: block !important;
                width: 100% !important;
                clear: both !important;
            }

            body[yahoo] table td.half-width {
                width: 50% !important;
            }

            body[yahoo] .hidden-xs {
                display: none !important;
            }

            body[yahoo] .visible-xs {
                display: block !important;
                max-height: none !important;
                line-height: 1.5 !important;
                height: auto !important;
            }

            body[yahoo] .visible-xs.cell {
                display: table-cell !important;
            }

            body[yahoo] img.hr {
                width: 100% !important;
            }

            body[yahoo] .center-xs {
                text-align: center !important;
            }

            body[yahoo] .visible-xs.inline {
                display: inline-block !important;
            }

            body[yahoo] .xs-no-minwidth {
                min-width: 0 !important;
                width: auto !important;
            }

            body[yahoo] table.header {
                margin-top: 12px;
            }

            body[yahoo] td.padding {
                width: 4% !important;
            }

            body[yahoo] td.padding-xs img {
                margin-left: 4%;
            }

            body[yahoo] td.padding img {
                display: none !important;
                width: 100% !important;
            }

            body[yahoo] table.four-steps {

            }

            body[yahoo] td.full-width {
                display: block;
                width: 100%;
            }

            body[yahoo] .xs-pt-12 {
                padding-top: 12px;
            }

            body[yahoo] .xs-pb-40 {
                padding-bottom: 30px;
            }

            body[yahoo] .xs-text-center {
                text-align: center;
            }

            body[yahoo] .xs-text-center img {
                margin: auto;
            }

            body[yahoo] .xs-align-left {
                text-align: left;
            }

            body[yahoo] .percent48 {
                display: block !important;
                float: left !important;
                width: 48% !important;
            }

            body[yahoo] .percent51 {
                display: block !important;
                float: left !important;
                width: 52% !important;
            }

            body[yahoo] .border-bottom-xs {
                border-bottom: 2px solid #f1f2f2;
            }

            body[yahoo] .half-width img, body[yahoo] .percent48 img, body[yahoo] .percent51 img {
                width: 100% !important;
            }

            body[yahoo] .block-xs {
                display: block;
            }

            body[yahoo] .xs-spacer {
                height: 16px !important;
            }

            body[yahoo] .fs-9-xs {
                font-size: 9px !important;
            }

            body[yahoo] .fs-14-xs {
                font-size: 14px !important;
            }

            body[yahoo] .fs-12-xs {
                font-size: 12px !important;
            }

            body[yahoo] .list-table td:nth-child(1) {
                width: 6%;
            }

            body[yahoo] .list-table td:nth-child(2) {
                width: 18%;
            }

            body[yahoo] .list-table td:nth-child(3) {
                width: 3%;
            }

            body[yahoo] .list-table td:nth-child(4) {
                width: 73%;
            }

            body[yahoo] .img-responsive {
                width: 100% !important;
            }
        }

        .hidden {
            display: none;
        }

        @media only screen and (max-device-width: 413px) {
            body[yahoo] .fs-10-xss {
                font-size: 10px !important;
            }
        }

        .visible-xs li {
            display: inline;
            mso-hide: all;
        }

        .visible-xs img {
            max-height: auto;
            width: auto;
        }

        .visible-xs {
            display: none;
            font-size: 0;
            max-height: 0;
            line-height: 0;
            mso-hide: all;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            body[yahoo] a[href^="tel"],
            body[yahoo] a[href^="sms"] {
                text-decoration: none;
                color: blue;
                pointer-events: none;
                cursor: default;
            }

            body[yahoo] .mobile_link a[href^="tel"],
            body[yahoo] .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: orange !important;
                pointer-events: auto;
                cursor: default;
            }
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
            /* Put your iPhone 4g styles in here */
        }

        /* Android targeting */

        @media only screen and (-webkit-device-pixel-ratio: .75) {
            /* Put CSS for low density (ldpi) Android layouts in here */
        }

        @media only screen and (-webkit-device-pixel-ratio: 1) {
            /* Put CSS for medium density (mdpi) Android layouts in here */
        }

        @media only screen and (-webkit-device-pixel-ratio: 1.5) {
            /* Put CSS for high density (hdpi) Android layouts in here */
        }

        /* end Android targeting */