<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="format-detection" content="telephone=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>
            <%= vars('pageTitle') %>
        </title>
        <% include includes/stylesheet.ejs %>
    </head>
    <body yahoo="fix" bgcolor="#8b8d8e" style="background: #8b8d8e;">
        <div style="background-color:#8b8d8e;" bgcolor="#8b8d8e">
            <table id="main-wrapper" class="wspread" width="600" align="center" cellpadding="0" cellspacing="0" border="0"
                   bgcolor="#8b8d8e" style="background: #ffffff;min-width:600px;margin-left:auto;margin-right:auto;">
                <tr>
                    <td class="wspread xs-0-p" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                    </td>
                </tr>
            </table>
        </div>
        <div style="display:none; white-space:nowrap; font:15px courier; color:#ffffff; line-height:0; width:600px !important; min-width:600px !important; max-width:600px !important;">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
    </body>
</html>
