<style type="text/css">
    @-ms-viewport {
        width: device-width;
    }
</style>
<style type="text/css">
    #outlook a {
        padding: 0;
    }
    body {
        width: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        margin: 0;
        padding: 0;
    }
    .ExternalClass {
        width: 100%;
    }
    * {
        mso-line-height-rule:exactly;
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
        mso-line-height-rule:exactly;
    }

    #backgroundTable {
        margin: 0;
        padding: 0;
        width: 100% !important;
    }
    img {
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
        margin: 0;
    }
    a img {
        border: none;
    }
    .image_fix {
        display: block;
    }
    p {
        margin: 1em 0;
    }
    table td {
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
    }
    table {
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
    }

    .applinks,
    .applinks * {
        pointer-events: none !important;
        cursor: default !important;
        color: inherit !important;
        text-decoration: none !important;
    }

    @media all and (max-width: 568px) {
        body[yahoo] a[href^="tel"],
        body[yahoo] a[href^="sms"] {
            text-decoration: none;
            color: inherit !important;
            pointer-events: auto;
            cursor: default;
        }
        body[yahoo] tr {
            width: 100%;
        }
        [class].mobile_link a[href^="tel"],
        [class].mobile_link a[href^="sms"] {
            text-decoration: default;
            color: inherit !important;
            cursor: default;
        }
        [class].wspread {
            width: 100% !important;
            height: auto !important;
            min-width: 0 !important;
        }
        [class].btn {
            width: 50% !important;
            height: auto !important;
            min-width: 0 !important;
        }
        [class].mobile-show {
            display: block !important;
            width: 100% !important;
            height: auto !important;
        }
        [class].mobile-hide {
            display: none !important;
        }
        [class].mobile-swap {
            width: 100% !important;
            max-width: 100%!important;
            height: auto !important;
            display: block !important;
            float: none !important;
            overflow: visible !important;
            margin: 0;
        }
        [class].mobile-swap.wauto {
            width: auto !important;
            height: 100% !important;
        }
        [class].xs-0-p {
            padding: 0 !important;
        }
        [class].xs-10-pl {
            padding-left: 10px!important;
        }
        [class].xs-10-pr {
            padding-right: 10px!important;
        }
        [class].xs-15-pl {
            padding-left: 15px!important;
        }
        [class].xs-15-pr {
            padding-right: 15px!important;
        }
        [class].xs-20-pl {
            padding-left: 20px!important;
        }
        [class].xs-20-pr {
            padding-right: 20px!important;
        }
        [class].xs-30-pl {
            padding-left: 30px!important;
        }
        [class].xs-30-pr {
            padding-right: 30px!important;
        }
        [class].xs-10-plr {
            padding-left: 10px!important;
            padding-right: 10px!important;
        }
        [class].xs-15-plr {
            padding-left: 15px!important;
            padding-right: 15px!important;
        }
        [class].xs-20-plr {
            padding-left: 20px!important;
            padding-right: 20px!important;
        }
        [class].xs-30-plr {
            padding-left: 30px!important;
            padding-right: 30px!important;
        }
        [class].xs-10-pt {
            padding-top: 10px!important;
        }
        [class].xs-15-pt {
            padding-top: 15px!important;
        }
        [class].xs-20-pt {
            padding-top: 20px!important;
        }
        [class].xs-30-pt {
            padding-top: 30px!important;
        }
        [class].xs-5-pb {
            padding-bottom: 5px!important;
        }
        [class].xs-10-pb {
            padding-bottom: 10px!important;
        }
        [class].xs-15-pb {
            padding-bottom: 15px!important;
        }
        [class].xs-20-pb {
            padding-bottom: 20px!important;
        }
        [class].xs-30-pb {
            padding-bottom: 30px!important;
        }
        [class].xs-40-pb {
            padding-bottom: 40px!important;
        }
        [class].xs-5-ptb {
            padding-top: 5px!important;
            padding-bottom: 5px!important;
        }
        [class].xs-10-ptb {
            padding-top: 10px!important;
            padding-bottom: 10px!important;
        }
        [class].xs-15-ptb {
            padding-top: 15px!important;
            padding-bottom: 15px!important;
        }
        [class].xs-20-ptb {
            padding-top: 20px!important;
            padding-bottom: 20px!important;
        }
        [class].xs-30-ptb {
            padding-top: 30px!important;
            padding-bottom: 30px!important;
        }
        [class].side-pad {
            width: 20px!important;
        }
        [class].side-pad img {
            width: 20px!important;
        }
        [class].tright {
            text-align: right!important;
        }
        [class].tleft {
            text-align: left!important;
        }
        [class].tcenter {
            text-align: center !important;
        }
        [class].vtop {
            vertical-align: top!important;
        }
        [class].vmiddle {
            vertical-align: middle!important;
        }
        [class].vbottom {
            vertical-align: bottom!important;
        }
        [class].block-center {
            display: block !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
        [class].relative {
            position: relative;
        }
        [class].absolute {
            position: absolute;
        }
        [class].hauto {
            height: auto!important;
        }
        [class].wauto {
            width: auto!important;
            min-width: 0 !important;
        }

        [class].h5,
        [class].h5 img {
            height: 5px!important;
        }
        [class].h10,
        [class].h10 img {
            height: 10px!important;
        }
        [class].h15,
        [class].h15 img {
            height: 15px!important;
        }
        [class].h20,
        [class].h20 img {
            height: 20px!important;
        }
        [class].h25,
        [class].h25 img {
            height: 25px!important;
        }
        [class].h30,
        [class].h30 img {
            height: 30px!important;
        }

        [class].fz9 {
            font-size: 9px !important;
        }
        [class].fz10 {
            font-size: 10px !important;
        }
        [class].fz11 {
            font-size: 11px !important;
        }
        [class].fz12 {
            font-size: 12px !important;
        }
        [class].fz13 {
            font-size: 13px !important;
        }
        [class].fz14 {
            font-size: 14px !important;
        }
        [class].fz15 {
            font-size: 15px !important;
        }
        [class].fz16 {
            font-size: 16px !important;
        }
        [class].fz17 {
            font-size: 17px !important;
        }
        [class].fz18 {
            font-size: 18px !important;
        }
        [class].fz19 {
            font-size: 19px !important;
        }
        [class].fz20 {
            font-size: 20px !important;
        }
        [class].fz21 {
            font-size: 21px !important;
        }
        [class].fz25 {
            font-size: 25px !important;
        }

        [class].Logo {
            min-width: 320px!important;
        }
        [class].card {
            width: 255px!important;
        }
        [class].btn {
            width: 135px!important;
        }
        [class].w135 {
            width: 135px!important;
        }
        [class].w145 {
            width: 145px!important;
        }
        [class].refferal-cont {
            border-left: none!important;
            border-top: 1px solid #cdcdcd;
        }
        [class].refferal-link {
            display: block;
            margin-top: 4px;
        }
        [class].mobile-pad, [class].mobile-pad img {
            width:20px !important;
            display: block;
            border:0;
            margin:0;
        }
        [class].mobile-pad-0, [class].mobile-pad-0 img {
            width:0 !important;
            display: block;
            border:0;
            margin:0;
        }
        [class].mt20{
            margin-top:25px;
        }



    }
    @media all and (min-width: 375px) and (max-width: 413px) {

    }
    @media all and (min-width: 414px) and (max-width: 568px) {

    }
    @media all and (min-width: 768px) and (max-width: 1024px) {
        body[yahoo] a[href^="tel"],
        body[yahoo] a[href^="sms"] {
            text-decoration: none;
            color: blue;
            pointer-events: none;
            cursor: default;
        }
        body[yahoo] a[href^="tel"],
        body[yahoo] a[href^="sms"] {
            text-decoration: default;
            color: inherit !important;
            pointer-events: auto;
            cursor: default;
        }
    }
</style>
<!--[if gte mso 15]>
<style type="text/css">
    table {mso-margin-top-alt:0px; mso-margin-bottom-alt:0px;mso-padding-alt: 0px;}
    .msospacefix {font-size:1px; mso-line-height-rule:exactly;line-height:0;}
</style>
<![endif]-->