@import "sprites";

$bg: #ffffff;
$width: 728px;
$height: 90px;

* {
	box-sizing: border-box;
}
.hide {
	display: none;
}
#banner {
	width: $width;
	height: $height;
	background-color: $bg;
	position: relative;
	overflow: hidden;
	display: none;
}
[class^='scene'] {
	width: $width;
	height: $height;
	position: absolute;
	top: 0;
	left: 0;
	> div {
		position: absolute;
	}
}
.exit {
	width: $width;
	height: $height;
	opacity: 0;
	text-decoration: none;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
}
.scene1{

}
:focus {outline:none;}
::-moz-focus-inner {border:0;}